body{
    font-family: Arial, sans-serif;
    background-color: rgb(225, 237, 229);
    margin: 0%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #e6e6e6;
  color: white;
}
img{
    width: 70px;
   height: auto;
   display: flex;
    justify-content: center;
    margin-left: 20px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}